{% extends 'base.html'%}

{% block content %}
<h1>Profile</h1>
<!-- # my own -->
<div class="row">
    {% if messages %}
           {% for message in messages%}
               <div class="alert alert-warning alert-dismissable" role="alert">
                   <button class="close" data-dismiss="alert">
                       {{message}}
                       <small><sup>x</sup></small>
                   </button>
               </div>
           {% endfor %}
       {% endif %}
    <div class="col-md-8">
        <p>Welcome to your profile {{user}}
            <h1>Your Orders:</h1>
            <table border="2px solid black">
            <thead>
                <tr>
                     <th>Country</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Company Name</th>
                     <th>Address</th>
                     <th>Towm/City</th>
                     <th>State/Province</th>
                     <th>Zip/Postal Code</th>
                     <th>E-mail</th>
                     <th>Phone Number</th>
                </tr>
            </thead>
                <td>{{profile.country}}</td>
                <td>{{profile.first_name}}</td>
                <td>{{profile.last_name}}</td>
                <td>{{profile.company}}</td>
                <td>{{profile.address}}</td>
                <td>{{profile.city}}</td>
                <td>{{profile.state}}</td>
                <td>{{profile.postcode}}</td>
                <td>{{profile.email}}</td>
                <td>{{profile.phone}}</td>


            <tbody>

            </tbody>
            </table>


    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success btn-md"><a href="{% url 'customer:edit_profile' user.id %}">Update profile</a></button>
    </div>

<!-- # шаблон -->

{% endblock %}
