{% extends 'shop/base.html' %}
{% load mptt_tags %}
{% load static %}
{% block product %}
<!-- to check how cathegories are rendered LEFT not in menu-->
<!-- <div class="row">
    <h3>Categories</h3>
    <div class="col-md-6">
        <ul class="root">
            {% recursetree menu_categories %}
                <li class="dropdown-item">
                    <a href="{% url 'shop:category' slug=node.slug %}">{{ node.name }}</a>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            <a href="#">{{ children }}</a>
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    </div>
</div> -->
    <div class="col-md-10 col-md-push-2">
        <div class="row row-pb-lg">
            {% for product in products %}
                <div class="col-md-4 text-center">
                    <div class="product-entry">

                        <div class="product-img" {% if product.gallery.photos.first %} style="background-image: url({{product.gallery.photos.first.image.url}});" {% else%}
                        style="background-image: url({% static 'images/item-5.jpg' %});"
                        {% endif %}>
                            <p class="tag"><span class="new">New</span></p>
                            <div class="cart">
                                <p>
                                    <span class="addtocart"><a href="cart.html"><i class="icon-shopping-cart"></i></a></span>
                                    <span><a href="product-detail.html"><i class="icon-eye"></i></a></span>
                                    <span><a href="#"><i class="icon-heart3"></i></a></span>
                                    <span><a href="add-to-wishlist.html"><i class="icon-bar-chart"></i></a></span>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="{{product.get_absolute_url}}">Title: {{ product.title }}</a></h3>
                            <p class="price"><span>{{product.price}}</span></p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-4 text-center">
                    <h3>No match. Try to search in list of Categories</h3>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-md-pull-10">
        <div class="sidebar">
            <div class="side">
                <h2>Categories</h2>
                <div class="fancy-collapse-panel">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                 <div class="panel panel-default">
                     <div class="panel-heading" role="tab" id="headingOne">
                         <h4 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Men
                             </a>
                         </h4>
                     </div>
                     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                         <div class="panel-body">
                            <ul>
                                <li><a href="/sort/?category=Plants">Plants</a></li>
                                <li><a href="/sort/?category=Furniture">Furniture</a></li>
                                <li><a href="/sort/?category=Tools">Tools</a></li>
                            </ul>
                         </div>
                     </div>
                 </div>
              </div>
           </div>
            </div>
            <div class="side">
                <h2>Price Range</h2>
                <form method="post" class="colorlib-form-2">
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="guests">Price from:</label>
                    <div class="form-field">
                      <i class="icon icon-arrow-down3"></i>
                      <!-- <select name="people" id="people" class="form-control"> -->
                        <a href="/sort/?price1=3">$3</a><br>
                        <a href="/sort/?price1=59">$59 </a>
                      <!-- </select> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="guests">Price to:</label>
                    <div class="form-field">
                      <i class="icon icon-arrow-down3"></i>
                      <!-- <select name="people" id="people" class="form-control"> -->
                        <a href="/sort/?price2=12">12</a><br>
                        <a href="/sort/?price2=17">17</a>
                      <!-- </select> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
            </div>
            <div class="side">
                <h2>Availability</h2>
                <div class="color-wrap">
                    <p>
                        <a href="/sort/?availability=True" class="color color-1">Avail</a><br>
                        <!-- <a href="/sort/?availability=True" class="color color-1">True</a> -->
                        <a href="/sort/?availability=False" class="color color-2">Not Avail</a>

                    </p>
                </div>
            </div>
            <div class="side">
                <h2>On Sale</h2>
                <div class="color-wrap">
                    <!-- <p class="color-desc"> -->
                    <p>
                        <a href="/sort/?sale=True" class="color color-1">On Sale</a><br>
                        <a href="/sort/?sale=False" class="color color-2">Not On Sale</a>
                    </p>
                </div>
            </div>

        </div>
    </div><!-- <div class="col-md-2 col-md-pull-10"> -->


{% endblock product %}
